header {
  padding: 0 0 0  0;
  text-align: center;



background-image: url('https://i.imgur.com/4hw9XKq.jpg?1');

background-image: url('https://i.imgur.com/TxPVaYw.jpg');
background-image: url('https://i.imgur.com/Yqas5Hn.jpg?1');
  color: #000;
  height: 300px;
  background-size: cover;
}

ul {
  padding: 10px;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
  font-size: 20px;
}

a {
  color:darkblue;
}

p {
  font-size: 15px;
  padding-top:30px
}

h1 {
  font-size:52px;
  padding: 45px 0 0  0;
  color:black;
}

h2 {
  font-size:30px;
  color:black;
}

article {
  max-width:800px;
  padding: 10px;
  background: white;
  margin: 0 auto;
  background: rgba(225, 244, 254, 1);
}

body {
  background: rgba(225, 244, 254, 1);
}

@media(max-width: 500px){
  h1 {
    font-size:36px;
  }
  li {
    display:block;
    padding:5px;
  }
    body {
      background:red;
    }
  }

.MyPic {
  border: 10px solid black;
  border-radius: 12px;
  margin-top: 0px;
  margin-left: 40px;
  vertical-align: middle;
  float:left;
}

.jumbotron {
  font-size: 20px;
  background: rgba(225, 244, 254, 1);
}

.ButtonClicked {
  background-color:red;
  color:red;
}
